@charset "utf-8";
@import "../common/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {font-family: 'Noto Sans KR', sans-serif;}
a {text-decoration: none; color:inherit;}

.wrap{width: 100%; height:100%; overflow: hidden; margin: 0 auto;}
.wrap .content {margin: 0 auto; width: 620px; height: 600px;}
.wrap .nav {overflow: hidden;  font-size: 25px; margin-top: 30px;}

.wrap .arrow {display: flex;}
.wrap .tit { margin-left: 232px; font-weight: bold; position: relative;}
.wrap .txt {margin-top: 60px; font-size: 18px;}


.find-id-form input {border-radius: 10px; width: 500px; height: 42px; margin-top: 15px; 
                        position: relative; border: 1px solid rgb(228, 230, 233);}
.find-id-form input::placeholder{padding-left: 10px;}
.find-id-form .id-check-btn {border-radius: 10px; width: 102px; height: 44px;
                                position: absolute; top: 131px; background: rgb(207, 210, 215); margin-left: 10px; border:none;}
.find-id-form .id-check-btn[value="인증 요청"]{font-size: 16px; color: white;}
.input-box {margin: 0 auto;}
.submit-btn {margin-top: 60px; width: 620px; height: 55px; border-radius: 10px;}
.submit-btn[value="아이디 확인"]{font-size: 16px; color: white; background: rgb(207, 210, 215); border:none}
