@charset "utf-8";
@import "../common/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {font-family: 'Noto Sans KR', sans-serif;}
a {text-decoration: none; color:inherit;}

.wrap{margin: 0 auto; overflow: hidden; width: 100%; height: 100%;}
.wrap .content {width: 640px; height: 900px; margin: auto;}
.wrap .content .main-tit {width:100%; font-size: 30px; line-height: 1.5; font-weight: bold; margin-top: 100px; margin-left: 245px;}
.content .register-form {margin: 0 auto;}
.content .register-form .register-input-form{width: 600px; height: 42px; border-bottom: 1px solid rgb(228, 230, 233);
                                        border-top: none; border-left: none; border-right: none;}
.content .register-form .register-input-form {margin-top: 15px; position: relative;}
.content .register-form .register-input-form:focus{outline: none;}
.content .register-form .register-btn{border-radius: 8px; width: 609px; height: 50px; margin-top: 20px; background : rgb(32, 36, 41); border:none;}
.content .register-form .register-btn[value="가입하기"]{color:white; font-size: 16px; font-weight: bold;}
.content .register-form input::placeholder {font-size: 16px;}
.content .register-form .register-input .input-register {margin-top: 20px; display: block;}
.content .register-form .register-email {position: relative;}
.content .register-form .register-email .email-check-btn {position: absolute; top: 26px; height: 40px; border-radius: 8px;
                                                     left:510px;  border:none; background: rgb(32, 36, 41);}
.content .register-form .register-email .email-check-btn[value="이메일 인증"] {font-size: 16px; color:white;}
.content .register-form .error-msg{color:red; font-weight: bold;}



