* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

ul,
ol,
li,
dl,
dt,
dd {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus,
button:active,
input:focus,
input:active {
    box-shadow: none;
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.sr-only {
    position: absolute;
    z-index: -1000;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

.product-container-wrap{
    width:100%;
    min-width: 1200px;
    padding-bottom: 300px;
}
.container {
    width: 100%;
    max-width: 1160px;
    padding: 0 40px;
    padding-top: 80px;
    /* margin: 0 auto; */
}

.product {
    display: flex;
    justify-content: space-between;
}

.product-image-viewer {
    width: 540px;
}

.product-image-viewer .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    margin-bottom: 16px;
}

.product-image-viewer .main-image img {
    display: block;
    width: 100%;
    height: auto;
}

.product-image-viewer .view-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-image-viewer .view-item {
    margin: 0 4px;
}

.product-image-viewer .view-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    transition: opacity 250ms ease-in;
}

.product-image-viewer .view-item button:hover {
    opacity: 0.5;
}

.product-image-viewer .view-item button img {
    width: 100%;
    height: auto;
}

.product-image-viewer .view-item.selected button {
    border: 1px solid #e4e4e4;
}

.product-content {
    width: 500px;
    padding-top: 40px;
    margin-bottom: 80px;
}

.product-title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3333333333;
    letter-spacing: -0.03em;
    color: #1c1c1c;
}

.product-misc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1428571429;
    letter-spacing: -0.02em;
}

.product-misc div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-misc dt {
    margin-right: 4px;
}

.product-misc .rate {
    margin-right: 16px;
    color: #969696;
}

.product-misc .rate dt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-misc .orders {
    color: #00b517;
}

.product-price {
    display: block;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3333333333;
    letter-spacing: -0.03em;
}

.product-desc {
    padding-bottom: 40px;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.4666666667;
    letter-spacing: -0.015em;
    color: #545454;
    border-bottom: 1px solid #e4e4e4;
}

.product-detail {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.4666666667;
    overflow: hidden;
}

.product-detail div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 14px;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
}

.product-detail div:nth-child(2n-1) {
    background-color: #f7f7f7;
}

.product-detail dt {
    width: 86px;
    font-weight: 400;
    color: #545454;
}

.product-detail dd {
    font-weight: 600;
    color: #1c1c1c;
}

.form-options {
    display: flex;
    width: 100%;
    margin-bottom: 32px;

}


/*select box*/
.form-select {
    width: 320px; /* 원하는 너비설정 */
    height:52px;
    padding: .8em .7em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url("/image/product/product_detail/assets/angle-down-solid.svg") no-repeat 94% 50%; /* 네이티브 화살표 대체 */
    background-size : 12px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;

}

.form-group:first-child {
    margin-right: 32px;
}

.form-group label {
    display: block;
    font-size: 15px;
    line-height: 1.4666666667;
    letter-spacing: -0.02em;
    color: #545454;
}

.form-quantity > label {
    margin-bottom: 8px;
}

.form-size > label {
    margin-bottom: 16px;
}
                                           ㅔ
.combo-box {
    display: flex;
}

.combo-box button,
.combo-box input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    text-align: center;
}

.combo-box button {
    /* border: 1px solid #e4e4e4; */
    border: 1px solid #e4e4e4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px auto;
    background-color: #fff;
    transition: opacity 250ms ease-in;
}

.combo-box button:hover {
    background-color: #f8f8f8;
}

.combo-box #minus-button {
    border-radius: 5px 0 0 5px;
    background-image: url("/image/product/product_detail//assets/icon-minus.svg");
}

.combo-box #plus-button {
    border-radius: 0 6px 6px 0;
    background-image: url("/image/product/product_detail/assets/icon-plus.svg");
}

.combo-box input {
    font-size: 15px;
    border: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    color: #1c1c1c;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    color: #fff;
    background-color: #1c1c1c;
    transition: opacity 250ms ease-in;
}

.form-submit:hover {
    opacity: 0.75;
    color:black;
    font-weight: bold;
    background-color: rgb(244, 168, 27);
}

.icon-star-active,
.icon-star-inactive,
.icon-cart {
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
}

.icon-star-active {
    background-image: url("/image/product/product_detail/assets/icon-star-active.svg");
}

.icon-star-inactive {
    background-image: url("/image/product/product_detail/assets/icon-star-muted.svg");
}

.icon-cart {
    background-image: url("/image/product/product_detail/assets/icon-cart.svg");
}


/*tab menu*/
.tab_wrap{
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
}
.tab_menu{
    position:relative;
}
.tab_menu .list{
    display: flex;
    justify-content: center;
    overflow:hidden;
    max-width: 1200px;
    border-bottom: 1px solid #E5EAEF;
}
.tab_menu .list::after{
    content: '';
    display: block;
    clear:left;
}
.tab_menu .list li{
    float:left;
    margin-right:16px;
}

.tab_menu .list .btn{
    display: block;
    padding: 16px 102px;
    font-size: 16px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
}

.cont_area{
    text-align:center;
    margin-top: 70px;
}

.tab_menu .list .cont{
    display:none;
    position:absolute;
    top:25px;
    left:0;
    background:white;
    color:blue;
    text-align:center;
    width:1200px;
    height:1000px;
    line-height:100px;
}


.tab_menu .list li.is_on{
    border-bottom: 2px solid #444;
}

.tab_menu .list li.is_on .btn{
    color: #444;
    font-weight: 600;
}
.tab_menu .list li.is_on .cont{
    display:none;
    margin-top: 70px;
}
.combo-box .button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #444;
    border: 1px solid #e2e2e5;

}


.form-select-wrap{
    position: relative;
}
.stats-likes{
    position: absolute;
    top:38px;
    right:65px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.stats-likes i{
    padding:15px;
    color: red;

}
/*
.stats-likes i:hover{
    cursor: pointer;
    background: black;
    border-radius: 5px;
}*/


/*<i class="fa fa-heart-o" aria-hidden="true"></i>
<i class="fa fa-heart" aria-hidden="true"></i>*/







