<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.spring.miniproject.domain.UserDto"/>
        <typeAlias alias="NoticeDto" type="com.spring.miniproject.domain.NoticeDto"/>
        <typeAlias alias="CategoryDto" type="com.spring.miniproject.domain.CategoryDto"/>
    </typeAliases>
</configuration>