<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.spring.miniproject.domain.UserDto"/>
        <typeAlias alias="UserProfileDto" type="com.spring.miniproject.domain.UserProfileDto"/>
        <typeAlias alias="PageHandlerDto" type="com.spring.miniproject.domain.PageHandlerDto"/>
        <typeAlias alias="UserAddressDto" type="com.spring.miniproject.domain.UserAddressDto"/>
        <typeAlias alias="NoticeDto" type="com.spring.miniproject.domain.NoticeDto"/>
        <typeAlias alias="CategoryDto" type="com.spring.miniproject.domain.CategoryDto"/>
        <typeAlias alias="ProductReviewDto" type="com.spring.miniproject.domain.ProductReviewDto"/>
        <typeAlias alias="QnaDto" type="com.spring.miniproject.domain.QnaDto"/>
        <typeAlias alias="ProductDto" type="com.spring.miniproject.domain.ProductDto"/>
        <typeAlias alias="CategoryDto" type="com.spring.miniproject.domain.CategoryDto"/>
        <typeAlias alias="ProductOptionDto" type="com.spring.miniproject.domain.ProductOptionDto"/>
        <typeAlias alias="SubCategoryDto" type="com.spring.miniproject.domain.SubCategoryDto"/>
        <typeAlias alias="ProductStockDto" type="com.spring.miniproject.domain.ProductStockDto"/>

        <typeAlias alias="ProductOptionDetailDto" type="com.spring.miniproject.domain.ProductOptionDetailDto"/>
        <typeAlias alias="QnaPaging" type="com.spring.miniproject.domain.QnaPaging"/>

    </typeAliases>
</configuration>