input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.header-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    box-sizing: border-box;
}

.header-inner a,
.nav .nav-inner a {
    color: black;
    text-decoration-line: none;
}

.header-inner a:hover,
.nav .nav-inner a:hover {
    color: black;
    text-decoration-line: none;
}

.header-inner .site-name {
    font-size: 60px;
    font-weight: bolder;
}

.header-inner .form-search {
    display: flex;
    flex: 1 1 auto;
    padding: 0 12px;
    justify-content: flex-end;
    box-sizing: border-box;
}

.header-inner .form-search > div {
    display: flex;
    border-bottom: 2px black solid;
    padding: 5px 0;
    box-sizing: border-box;
}

.header-inner .form-search .search-input {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.header-inner .form-search .search-input:focus {
    outline: none;
}

.header-inner .form-search .search-btn {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-inner .nav-mine {
    margin-left: 60px;
    font-size: 30px;
}

.header-inner .nav-mine .btn-mypage {
    margin-left: 15px;
}

.nav .nav-inner {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav .nav-inner a {
    padding: 18px 8px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.nav .nav-inner a:hover {
    color: red;
}

.btn-mypage {
    position: relative;
}

.status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 2px 2px;
    background-color: red;
    font-size: 8px;
    font-weight: 700;
    color: white;
    border-radius: 30%;
    top: 1px;
    left: 13px;
}