@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

section.notice {
    padding: 80px 0;
}
.page-title {
    margin-bottom: 40px;
}
.page-title h3 {
    font-size: 25px;
    color: #333333;
    font-weight: 400;
    text-align: left;
    margin-left: 260px;
}
.small-page-title {
    font-size: 13px;
    color: #5e5e5e;
    text-align: left;
    margin-left: 310px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 600px;
}

/* 게시글 작성 영역 */
.write-content {
    text-align: center;
}
.write-title input {
    width: 600px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.write-detail textarea {
    width: 600px;
    height: 300px;
    margin-left: 20px;
    resize: none;
}
.write-detail .detail-name {
    vertical-align: middle;
}
.input-title {
    margin-left: 310px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
}
.input-content {
    margin-left: 310px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
}

/* reset */
* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

/* 공지 등록 버튼 */
.button {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    height:34px;
    padding:6px 12px;
    font-weight: bold;
    font-size:14px;
    line-height: 19px;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    border:0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .25s cubic-bezier(0.0, 0.0, 0.2, 1);
    min-width:70px;
}
.btn:hover {
    background-color: #6c6c6c;
    border-color: #6c6c6c;
    color: #fff;
}