.event-board-wrap {
    width: 70%;
    margin: 100px auto;
}

.event-board {
    width: 100%;
}
.board-header {
    padding-top: 50px;
    border-bottom: 1px solid #ccc;
}

.board-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header-info {
    margin-bottom: 15px;
}

.header-info span {
    font-size: 13px;
    color: #7e8383;
}

.header-info span:first-child {
    margin-right: 10px;
}


.header-info span:last-child::before {
    content: '|';
    margin-right: 10px;
}

.board-content {
    padding: 50px 0;
    min-height: 500px;
    border-bottom: 1px solid #ccc;
}

.board-footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.hidden-form button {
    display: inline-block;
    background-color: #1c1c1c;
    width: 200px;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 250ms ease-in;
}

.hidden-form button:hover {
    opacity: 0.75;
    color:black;
    font-weight: bold;
    background-color: rgb(244, 168, 27);
}