<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.spring.miniproject.dao.CategoryMapper">
	<insert id="insertProductOption" parameterType="ProductOptionDto">
		INSERT
		INTO product_option (product_id, option_name)
		VALUES (#{product_id}, #{option_name})
	</insert>

	<select id="selectProductOption" parameterType="int" resultType="ProductOptionDto">
		SELECT option_id, product_id, option_name
		FROM product_option
		WHERE option_id = #{option_id}
	</select>

	<select id="selectAllProductOption" resultType="ProductOptionDto">
		SELECT option_id, product_id, option_name
		FROM product_option
	</select>

	<select id="countProductOption" resultType="int">
		SELECT count(*) FROM product_option
	</select>

	<update id="updateProductOption" parameterType="ProductOptionDto">
		UPDATE product_option
		SET option_name = #{option_name}
		WHERE option_id = #{option_id}
	</update>

	<delete id="deleteProductOption" parameterType="int">
		DELETE FROM product_option
		WHERE option_id = #{option_id}
	</delete>

	<delete id="deleteAllProductOption">
		DELETE FROM product_option
	</delete>
</mapper>
