@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.faq {width: 80%; margin: 50px 200px;}
.faq-content {margin-bottom: 50px;}
.faq-title {width: 100%; border-bottom: 1px solid black; font-family: 'Noto Serif KR', serif;}
.faq-content ul li {border-bottom: 1px solid gray; padding: 10px; font-family: 'Noto Sans KR', sans-serif;}
.faq-content a {text-decoration: none; color: black;}